<section class="hero has-background-light is-medium">
    <div class="hero-body">
        <div class="hero-content">
            <h1 class="title is-1 has-text-dark is-italic has-text-centered">Experience the Allure of Nature's Fragrances</h1>
            <figure class="image is-3by1 mt-6 mb-6">
                <img src="<%= asset_path('homepage.png') %>" alt="A bouquet of flowers with an orange background" class="hero-background-image">
            </figure>
            <h2 class="subtitle is-2 has-text-dark is-italic has-text-centered has-text-weight-medium">Indulge in the enchanting essence of nature with our luxurious scents – a captivating blend of delicate petals and timeless elegance.</h2>
        </div>
    </div>
</section>
<section class="section has-background-light">
    <div class="container mb-6">
        <h1 class="title is-1 has-text-dark has-text-centered">Shop by Category</h1>
        <div class="fixed-grid has-1-cols-mobile has-2-cols-tablet has-4-cols-desktop">
            <div class="grid">
                <% @categories.each do |category| %>
                    <div class="cell">
                        <div class="card has-background-warning-light">
                            <div class="card-content has-text-centered">
                                <p class="title is-4 has-text-dark mb-2"><%= category.category_name %></p>
                                <%= link_to "View Products", category_path(category.category_name.parameterize), class: "button is-dark is-rounded mt-2 mb-1" %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
<section class="section has-background-light">
    <div class="container mt-6 mb-6">
        <h1 class="title is-1 has-text-dark">All Products</h1>
        <div class="fixed-grid has-1-cols-mobile has-2-cols-tablet has-4-cols-desktop">
            <div class="grid">
                <% @products.each do |product| %>
                    <div class="cell">
                        <div class="card has-background-warning-light">
                            <% if product.image.attached? %>
                                <div class="card-image">
                                    <%= link_to product_path(product.category.category_name.parameterize, product.product_name.parameterize) do %>
                                        <figure class="image">
                                            <%= image_tag product.image, alt: product.product_name, class: "product-image" %>
                                        </figure>
                                    <% end %>
                                </div>
                            <% end %>
                            <div class="card-content">
                                <%= link_to product.product_name, product_path(product.category.category_name.parameterize, product.product_name.parameterize), class: "title is-5 has-text-dark mb-2" %>
                                <p class="subtitle is-6 is-italic">
                                    <%= link_to product.category.category_name, category_path(product.category.category_name.parameterize), class: "has-text-dark" %>
                                </p>
                                <p class="subtitle is-6 has-text-dark has-text-weight-medium">$<%= product.price %></p>                            
                                <%= link_to "View Product", product_path(product.category.category_name.parameterize, product.product_name.parameterize), class: "button is-dark is-rounded mt-1 mb-1 is-outlined" %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="has-text-centered mt-6">
            <%= paginate @products %>
        </div>
    </div>
</section>
